*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: white;
}


body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

p-timer-card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    min-width: fit-content;
    width: 24rem;
    height: fit-content;
    padding: 2.4rem;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 1rem;
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 16px rgba(0,0,0,0.5);
}
.timer-button{
    display: flex;
    gap: 1rem;
}
img{
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
    
    filter: blur(3px) brightness(0.7);
    transform: scale(1.1);
}
span{
    font-size: 3rem;
    font-weight: bold;
}
button{
    background-color: transparent;

    border: 2px solid;
    border-radius: 8px;
    padding: 0.4rem 1rem;
    &:hover{
        filter: invert(0.8);
    }
    &:active{
        filter: invert(1);

    }
}